body {
  background: url("./Greenhouse.jpg") no-repeat right top;
  background-size: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
  color: whitesmoke;
  font-weight: 300; 
  background-color: rgb(116, 146, 172);
}

h2{
  text-align: center;
  color: red;
}

p{
  text-align: center;
  color: whitesmoke;
  font-weight: 300; 
  background-color: rgb(116, 146, 172);
}

.rectangle {
  height: 200px;
  width: 200px;
  background-color: #555;
  display: block; 
  margin: auto; 
}

#plantPageImage{
  display: block; 
  margin: auto; 
}

#plantPageHeader{
  display: inline-block;
  text-align: center;
  background-color: white;
  color: black; 
}

#plantPageIcon{
  display: inline-block; 
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  background-size:cover; 
  border-radius: 50%;
  border: 5px solid #555;
}

#HomeButton{
  text-decoration: none;
  text-align: center;
  display: block; 
  margin: auto; 
  background-color: #82c8a0;
  padding: 10px 20px; 
  border-radius: 10px;
  border-style: none;
}

#link{
  text-decoration: none;
}

#iconTitleHeader{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
  flex-direction: column;
}  

.flex-child:first-child {
  margin-right: 20px; 
} 

/* Add hover to each individual flower */

#Azalea:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#Begonia:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Cactus:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Camellia:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#DustyMiller:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#Geranium:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Marigold:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Pansy:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Petunia:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#Primrose:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Snowdrop:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#SweetAlyssum:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

/* set each flower to a specific position */
#Azalea{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -65px;
    right: 75px;
}

#Begonia{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -45px;
    left: 25px;
}

#Cactus{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}

#Camellia{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}
#DustyMiller{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}

#Geranium{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}

#Marigold{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}

#Pansy{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}
#Petunia{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left; 
}

#Primrose{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}

#Snowdrop{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
}

#SweetAlyssum{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left; 
}

