body {
  background: url("./try_2.png") no-repeat right top;
  background-size: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-align: center;
  color: whitesmoke;
  font-weight: 400; 
  background-color: rgb(12, 99, 71);
}

h2{
  text-align: center;
  color: red;
}

p{
  text-align: center;
  color: whitesmoke;
  font-weight: 300; 
  background-color: rgb(116, 146, 172);
}

.App-header {
  position: absolute;
    bottom: 400px;
    left: 422px;
}

.rectangle {
  height: 200px;
  width: 200px;
  background-color: #555;
  display: block; 
  margin: auto; 
}

.CareListItem{
  list-style-type: none; 
}

#description{
  padding: 0px 20px;  
}

#description p{
  padding: 50px; 
  background-color: rgba(148, 184, 137, 0.6);
  border-radius: 100px;
  margin: 30px 40px;
  color: black; 
}
#bName{
  font-weight: 200;
  color:rgb(116, 146, 172);
  font-style: italic;
  font-size: 35px; 
  padding: 0px;
  margin: 0px;
}

#plantPageImage{
  display: block; 
  margin: auto; 
}

#plantPageHeader{
  /* display: inline-block; */
  text-align: center;
  background-color: white;
  color: black;
  font-size: 100px; 
  padding: 0px;
  margin: 0px;
}

#plantPageIcon{
  display: inline-block; 
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  background-size:cover; 
  border-radius: 50%;
  border: 5px solid #555;
  margin-right: 50px;
}

#plantNameInfo{
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

#HomeButton{
  text-decoration: none;
  text-align: center;
  display: block; 
  margin: auto; 
  background-color: #82c8a0;
  padding: 10px 20px; 
  border-radius: 10px;
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#link{
  text-decoration: none;
}

#iconTitleHeader{
  display: flex;
  align-items: center;
  justify-content: center; 
}

#careList{
  margin-left: 50px;
  margin-right: 50px;
}

.flex-container {
  display: flex;
  padding: 10px 20px;
}

.flex-child {
  flex: 1;
  border: 3px solid rgb(178, 207, 165);
  border-radius: 5%;
  flex-direction: column;
  padding: 50px 20px;
  background-color: rgba(148, 184, 137, 0.6);
}  

.flex-child:first-child {
  margin-right: 20px; 
} 

.detailTitle{
  text-align: center;
  color:rgb(45, 49, 47)
}

#plantFact{
  padding: 20px;
}

/* Add hover to each individual flower */

#Azalea:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#Begonia:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Cactus:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Camellia:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#DustyMiller:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#Geranium:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Marigold:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Pansy:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Petunia:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#Primrose:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#Snowdrop:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}
#SweetAlyssum:hover{
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

/* set each flower to a specific position */
#Azalea{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -240px;
    right: 155px;
}

#Begonia{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: 85px;
    right: 400px;
}

#Cactus{
  height: 120px; 
  width: 170px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -270px;
    left: 160px;
}

#Camellia{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -60px;
    left: 330px;
}
#DustyMiller{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: 00px;
    left: 370px;
}

#Geranium{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: 00px;
    left: 70px;
}

#Marigold{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -120px;
    left: 270px;
}

#Pansy{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -185px;
    left: 230px;
}
#Petunia{
  height: 200px; 
  width: 200px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
  
  position: absolute;
    bottom: 2px;
    right: 325px;
}

#Primrose{
  height: 100px; 
  width: 100px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: 2px;
    right: 325px;
}

#Snowdrop{
  height: 150px; 
  width: 120px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;

  position: absolute;
    bottom: -18px;
    right: 105px;
}

#SweetAlyssum{
  height: 170px; 
  width: 170px; 
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
  float:left;
  
  position: absolute;
    bottom: 350px;
    right: 313px;
}

